.container {
  width: 80%;
  height: 170px;
  position: absolute;
}

.black-key {
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 20px;
  height: 50%;
  background-color: #393939;
  box-sizing: border-box;
  border: 1px solid #393939;
}

.white-key {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 100%;
  background-color: #dfdfdfdf;
  box-sizing: border-box;
  border: 2px solid #c7c7c7df;
}

div:nth-of-type(1) {
  width: 30px;
}
div:nth-of-type(2) {
  left: 20px;
}
div:nth-of-type(3) {
  left: 30px;
  width: 30px;
}
div:nth-of-type(4) {
  left: 50px;
}
div:nth-of-type(5) {
  left: 60px;
}
div:nth-of-type(6) {
  left: 90px;
}
div:nth-of-type(7) {
  left: 110px;
}
div:nth-of-type(8) {
  left: 120px;
}
div:nth-of-type(9) {
  left: 140px;
}
div:nth-of-type(10) {
  left: 150px;
}
div:nth-of-type(11) {
  left: 170px;
}
div:nth-of-type(12) {
  left: 180px;
}
div:nth-of-type(13) {
  left: 210px;
}
div:nth-of-type(14) {
  left: 220px;
}
