.container {
  width: 80%;
  height: 200px;
}

.black-key {
  display: inline-block;
  width: 20px;
  height: 100%;
  background-color: #393939;
}

.white-key {
  display: inline-block;
  width: 20px;
  height: 100%;
  background-color: #dfdfdfdf;
}
